<div class="container mt-5 mb-3">
    <div class="row">
        <div class="col-md-12 text-center">
            <p style="font-size: 30px !important;"><b>OUR DOCTORS</b></p>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <img src="../../assets/Doctor/DoctorFemale1.jpeg" alt="Doctor" class="doctor-image" />
                    <h4 class="doctor-name">Dr. Aisha Rahman</h4>
                    <p class="doctor-qualification">MBBS, MS</p>
                    <p class="doctor-specialization">Specialization: General Surgeon</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <img src="../../assets/Doctor/DoctorMale1.jpeg" alt="Doctor" class="doctor-image" />
                    <h4 class="doctor-name">Dr. Rajesh Sharma</h4>
                    <p class="doctor-qualification">MBBS, MS</p>
                    <p class="doctor-specialization">Specialization: Laparoscopic Surgeon</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <img src="../../assets/Doctor/DoctorFemale2.jpeg" alt="Doctor" class="doctor-image" />
                    <h4 class="doctor-name">Dr. Sneha Patel</h4>
                    <p class="doctor-qualification">MBBS, MD</p>
                    <p class="doctor-specialization">Specialization: Otolaryngologist</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <img src="../../assets/Doctor/DoctorMale2.jpeg" alt="Doctor" class="doctor-image" />
                    <h4 class="doctor-name">Dr. Abhinav Kapoor</h4>
                    <p class="doctor-qualification">MBBS, MS</p>
                    <p class="doctor-specialization">Specialization: ENT Specialist</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <img src="../../assets/Doctor/DoctorFemale3.jpeg" alt="Doctor" class="doctor-image" />
                    <h4 class="doctor-name">Dr. Priya Mishra</h4>
                    <p class="doctor-qualification">MBBS, MS</p>
                    <p class="doctor-specialization">Specialization: Neurosurgeon</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <img src="../../assets/Doctor/DoctorMale3.jpeg" alt="Doctor" class="doctor-image" />
                    <h4 class="doctor-name">Dr. Amit Agarwal</h4>
                    <p class="doctor-qualification">MBBS, MCh</p>
                    <p class="doctor-specialization">Specialization: Neurosurgery</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <img src="../../assets/Doctor/DoctorMale4.jpeg" alt="Doctor" class="doctor-image" />
                    <h4 class="doctor-name">Dr. Manish Verma</h4>
                    <p class="doctor-qualification">MBBS, MS</p>
                    <p class="doctor-specialization">Specialization: Orthopedic Surgeon</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <img src="../../assets/Doctor/DoctorFemale4.jpeg" alt="Doctor" class="doctor-image" />
                    <h4 class="doctor-name">Dr. Rekha Gupta</h4>
                    <p class="doctor-qualification">MBBS, MS</p>
                    <p class="doctor-specialization">Specialization: Trauma Surgeon</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <img src="../../assets/Doctor/DoctorFemale5.jpeg" alt="Doctor" class="doctor-image" />
                    <h4 class="doctor-name">Dr. Rina Sharma</h4>
                    <p class="doctor-qualification">MBBS, MD</p>
                    <p class="doctor-specialization">Specialization: Skin Specialist</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <img src="../../assets/Doctor/DoctorMale5.jpeg" alt="Doctor" class="doctor-image" />
                    <h4 class="doctor-name">Dr. Vikram Singh</h4>
                    <p class="doctor-qualification">MBBS, MD</p>
                    <p class="doctor-specialization">Specialization: Cosmetology</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <img src="../../assets/Doctor/DoctorMale6.jpeg" alt="Doctor" class="doctor-image" />
                    <h4 class="doctor-name">Dr. Harish Patel</h4>
                    <p class="doctor-qualification">MBBS, MS</p>
                    <p class="doctor-specialization">Specialization: Urologist</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <img src="../../assets/Doctor/DoctorFemale6.jpeg" alt="Doctor" class="doctor-image" />
                    <h4 class="doctor-name">Dr. Neelam Agarwal</h4>
                    <p class="doctor-qualification">MBBS, MD</p>
                    <p class="doctor-specialization">Specialization: Urologist</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <img src="../../assets/Doctor/DoctorMale7.jpeg" alt="Doctor" class="doctor-image" />
                    <h4 class="doctor-name">Dr. Rajeev Kumar</h4>
                    <p class="doctor-qualification">MBBS, MD</p>
                    <p class="doctor-specialization">Specialization: Gastroenterologist</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <img src="../../assets/Doctor/DoctorFemale7.jpeg" alt="Doctor" class="doctor-image" />
                    <h4 class="doctor-name">Dr. Simran Kaur</h4>
                    <p class="doctor-qualification">MBBS, MD</p>
                    <p class="doctor-specialization">Specialization: Gastroenterologist</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <img src="../../assets/Doctor/DoctorMale8.jpeg" alt="Doctor" class="doctor-image" />
                    <h4 class="doctor-name">Dr. Arun Mehta</h4>
                    <p class="doctor-qualification">MBBS, MD</p>
                    <p class="doctor-specialization">Specialization: Cardiologist</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <img src="../../assets/Doctor/DoctorFemale8.jpeg" alt="Doctor" class="doctor-image" />
                    <h4 class="doctor-name">Dr. Anita Sharma</h4>
                    <p class="doctor-qualification">MBBS, MD</p>
                    <p class="doctor-specialization">Specialization: General Physician</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <img src="../../assets/Doctor/DoctorMale9.jpeg" alt="Doctor" class="doctor-image" />
                    <h4 class="doctor-name">Dr. Vikash Kumar</h4>
                    <p class="doctor-qualification">BPT</p>
                    <p class="doctor-specialization">Specialization: Physiotherapist</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <img src="../../assets/Doctor/DoctorFemale9.jpeg" alt="Doctor" class="doctor-image" />
                    <h4 class="doctor-name">Dr. Richa Singh</h4>
                    <p class="doctor-qualification">BPT, MPT</p>
                    <p class="doctor-specialization">Specialization: Physiotherapist</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <img src="../../assets/Doctor/DoctorFemale10.jpeg" alt="Doctor" class="doctor-image" />
                    <h4 class="doctor-name">Dr. Kavita Sharma</h4>
                    <p class="doctor-qualification">MBBS, MD</p>
                    <p class="doctor-specialization">Specialization: Obstetrician & Gynecologist</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <img src="../../assets/Doctor/DoctorMale10.jpeg" alt="Doctor" class="doctor-image" />
                    <h4 class="doctor-name">Dr. Anil Kumar</h4>
                    <p class="doctor-qualification">MBBS, MS</p>
                    <p class="doctor-specialization">Specialization: Obstetrician</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <img src="../../assets/Doctor/DoctorFemale11.jpeg" alt="Doctor" class="doctor-image" />
                    <h4 class="doctor-name">Dr. Sunita Jain</h4>
                    <p class="doctor-qualification">MBBS, MD</p>
                    <p class="doctor-specialization">Specialization: Cosmetic Surgeon</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <img src="../../assets/Doctor/DoctorMale11.jpeg" alt="Doctor" class="doctor-image" />
                    <h4 class="doctor-name">Dr. Akash Gupta</h4>
                    <p class="doctor-qualification">MBBS, MS</p>
                    <p class="doctor-specialization">Specialization: Reconstructive Surgery</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <img src="../../assets/Doctor/DoctorFemale12.jpeg" alt="Doctor" class="doctor-image" />
                    <h4 class="doctor-name">Dr. Sheetal Arora</h4>
                    <p class="doctor-qualification">MBBS, MS</p>
                    <p class="doctor-specialization">Specialization: Ophthalmologist</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <img src="../../assets/Doctor/DoctorMale12.jpeg" alt="Doctor" class="doctor-image" />
                    <h4 class="doctor-name">Dr. Raghav Agarwal</h4>
                    <p class="doctor-qualification">MBBS, MS</p>
                    <p class="doctor-specialization">Specialization: Eye Surgeon</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <img src="../../assets/Doctor/DoctorMale13.jpeg" alt="Doctor" class="doctor-image" />
                    <h4 class="doctor-name">Dr. Vikram Soni</h4>
                    <p class="doctor-qualification">MBBS, MD</p>
                    <p class="doctor-specialization">Specialization: Diagnostic Radiologist</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <img src="../../assets/Doctor/DoctorFemale13.jpeg" alt="Doctor" class="doctor-image" />
                    <h4 class="doctor-name">Dr. Neha Sharma</h4>
                    <p class="doctor-qualification">MBBS, MD</p>
                    <p class="doctor-specialization">Specialization: Diagnostic Radiologist</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <img src="../../assets/Doctor/DoctorFemale14.jpeg" alt="Doctor" class="doctor-image" />
                    <h4 class="doctor-name">Dr. Simran Verma</h4>
                    <p class="doctor-qualification">MBBS, MD</p>
                    <p class="doctor-specialization">Specialization: Psychiatrist</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <img src="../../assets/Doctor/DoctorMale14.jpeg" alt="Doctor" class="doctor-image" />
                    <h4 class="doctor-name">Dr. Rajeev Bhatt</h4>
                    <p class="doctor-qualification">MBBS, MD</p>
                    <p class="doctor-specialization">Specialization: Psychiatrist</p>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>