<div class="container mt-3 mb-3">
    <div class="row">
        <div class="col-md-12 text-center">
            <p style="font-size: 30px !important;"><b>Medicine & Cardiology</b></p>
        </div>
    </div>
    <div class=" row mt-3">
        <div class="col-md-6 mt-3">
            <div class="card">
                <img src="../../assets/Department/Medicine&Cardiology.jpeg" alt="Medicine" />
            </div>
        </div>
        <div class="col-md-6 text-center mt-3">
            <p><span style="color: red;"><b>Medicine & Cardiology</b></span> </p>
            <p>Medicine and Cardiology department focuses on the prevention, diagnosis, and treatment of various medical
                and heart-related conditions. General medicine covers a broad spectrum of diseases affecting different
                organ systems, while cardiology specializes in disorders of the heart and circulatory system, such as
                hypertension, coronary artery disease, arrhythmias, and heart failure. Advanced diagnostic tools and
                treatments, including non-invasive tests and interventional cardiology procedures, are used to ensure
                comprehensive care.
            </p>
        </div>
    </div>
    <div class=" row mt-3">
        <div class="col-md-12 col12">
            <p><span style="color: #000; font-size: 22px !important;"><b>Why Choose Evergreen Wellness Hospital for
                        Medicine & Cardiology?</b></span></p>
            <p><span style="color: teal;"><b>Expert Physicians & Cardiologists:</b></span> A team of highly qualified
                specialists dedicated to accurate diagnosis and effective treatment.</p>
            <p><span style="color: teal;"><b>Advanced Diagnostic Tools:</b></span> Equipped with cutting-edge
                technologies like ECG, echocardiography, and stress tests for precise evaluation.</p>
            <p><span style="color: teal;"><b>Comprehensive Cardiac Care:</b></span> Expertise in managing acute
                conditions such as heart attacks and chronic conditions like heart failure.
            </p>
            <p><span style="color: teal;"><b>Interventional Excellence:</b></span> Skilled in performing angioplasty,
                stent placements, and other minimally invasive procedures.</p>
            <p><span style="color: teal;"><b>Integrated Care:</b></span> Collaborative approach between general medicine
                and cardiology specialists to address complex health issues.</p>
            <p><span style="color: teal;"><b>24/7 Emergency Services:</b></span> Prompt response to cardiac emergencies
                with an efficient team and state-of-the-art facilities.</p>
        </div>
    </div>
</div>