.container {
    user-select: none;
    font-family: 'Times New Roman', Times, serif;
}

.card {
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    animation: fadeIn 2s ease-out forwards;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.card img {
    max-width: 100%;
    height: 620px;
    display: block;
    border-radius: 10px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.opd-section {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.col-md-6.data {
    color: #FFF;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    animation: slideRight 2s ease-out forwards;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid teal;
}

@keyframes slideRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.col-md-6.data p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #333;
    margin: 10px 0;
}

.col-md-6.data span {
    font-size: 1.4rem;
    text-transform: uppercase;
    text-align: center;
}

.center-text {
    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
}

.opd-timing-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 10px;
    overflow: hidden;
    color: #FFF;
}

.opd-timing-table th,
.opd-timing-table td {
    padding: 10px;
    text-align: center;
    border: 2px solid teal;
}

.opd-timing-table th {
    background-color: teal;
    font-weight: bold;
    color: white;
}

.opd-timing-table td {
    font-weight: bold;
}

.opd-timing-table tr:nth-child(even) {
    background-color: #333232;
}

.btn-view {
    background-color: teal;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-view:hover {
    background-color: darkcyan;
    color: white;
}