<div class="mt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center mt-5">
                <p style="font-size: 30px !important; color: #FFF;"><b>OPD TIMING</b></p>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-6 mt-3 mb-5 opd-section">
                <div class="card">
                    <img src="../../assets/OPDTiming.jpeg" alt="OPD Timings" />
                </div>
            </div>
            <div class="col-md-6 mt-3 mb-3 opd-section data">
                <p class="center-text"><span style="color: teal;"><b>OPD TIMING</b></span></p>
                <p style="color: #FFF;">At Evergreen Wellness Hospital, OPD timings are designed to accommodate the busy schedules of
                    patients and ensure they receive timely and efficient care. The timings typically include weekday
                    hours with extended availability, allowing patients to consult various specialists for their medical
                    needs.</p>
                <table class="table table-responsive opd-timing-table">
                    <thead>
                        <tr>
                            <th>Day</th>
                            <th>Timings</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Monday</td>
                            <td>09:00 AM to 06:00 PM</td>
                        </tr>
                        <tr>
                            <td>Tuesday</td>
                            <td>09:00 AM to 06:00 PM</td>
                        </tr>
                        <tr>
                            <td>Wednesday</td>
                            <td>09:00 AM to 06:00 PM</td>
                        </tr>
                        <tr>
                            <td>Thursday</td>
                            <td>09:00 AM to 06:00 PM</td>
                        </tr>
                        <tr>
                            <td>Friday</td>
                            <td>09:00 AM to 06:00 PM</td>
                        </tr>
                        <tr>
                            <td>Saturday</td>
                            <td>09:00 AM to 06:00 PM</td>
                        </tr>
                    </tbody>
                </table>
                <div class="text-end mt-4">
                    <button class="btn btn-view" routerLink="/Home/OPDTiming">View ALL</button>
                </div>
            </div>
        </div>
    </div>
</div>