<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 footer-about">
                <h5>About Us</h5>
                <p>
                    Evergreen Wellness Hospital is dedicated to providing comprehensive healthcare services with 
                    a focus on compassion, innovation, and excellence. Our state-of-the-art facilities and expert 
                    team ensure the best medical care for you and your loved ones.
                </p>
            </div>
            <div class="col-md-4 footer-links">
                <h5>Quick Links</h5>
                <ul>
                    <li><a routerLink="/Home/Ouridentity">About Us</a></li>
                    <li><a routerLink="/Home/OPDTiming">OPD Timing</a></li>
                    <li><a routerLink="/Home/Contactus">Contact Us</a></li>
                    <li><a routerLink="/Home/OurDoctor">Our Doctors</a></li>
                    <li><a routerLink="/Home/Ourinfrastructure">Our Ourinfrastructure</a></li>
                    <li><a routerLink="/Home/clientsay">What Our Clients Say</a></li>
                    <li><a routerLink="/Home/Bookappointment">Book an Appointment</a></li>
                </ul>
            </div>
            <div class="col-md-4 footer-contact">
                <h5>Contact Us</h5>
                <p><i class="fas fa-map-marker-alt"></i> Nayabazar, Cuttack, Odisha, India - 123456</p>
                <p><i class="fas fa-phone"></i> +1 234 567 890</p>
                <p><i class="fas fa-envelope"></i> ewhospital&#64;gmail.com</p>
                <div class="footer-social">
                    <a href="#" class="social-icon"><i class="fab fa-facebook"></i></a>
                    <a href="#" class="insta-icon"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="whatup-icon"><i class="fab fa-whatsapp"></i></a>
                    <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="social-icon"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
        </div>
        <div class="row footer-bottom">
            <div class="col-md-12 text-center">
                <p>&copy; 2024 Evergreen Wellness Hospital. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>
