<div class="container mt-5 mb-3">
    <div class="row">
        <div class="col-md-12 text-center">
            <p style="font-size: 30px !important;"><b>OUR FACILITIES</b></p>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <img src="../../assets/Facilities/Ambulance.jpeg" alt="Ambulance" class="cardimg" />
                    <div class="content-side-by-side">
                        <img src="../../assets/Facilities/Facilities1.webp" alt="Facilities1" class="side-img" />
                        <p class="side-text">The Ambulances operate(24*7) at Evergreen Wellness Hospital is around the
                            clock to respond to emergencies,
                            ensuring help is always just a call away.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <img src="../../assets/Facilities/XRayMachine.jpeg" alt="XRayMachine" class="cardimg" />
                    <div class="content-side-by-side">
                        <img src="../../assets/Facilities/Facilities9.webp" alt="Facilities9" class="side-img" />
                        <p class="side-text">The advanced X-Ray facilities at Evergreen Wellness Hospital are designed
                            to provide high-quality
                            imaging with a focus on patient safety and comfort.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <img src="../../assets/Facilities/CTScanMachine.jpeg" alt="CTScanMachine" class="cardimg" />
                    <div class="content-side-by-side">
                        <img src="../../assets/Facilities/Facilities10.png" alt="Facilities10" class="side-img" />
                        <p class="side-text"> Our CT Scan facilities are a vital part of our diagnostic services,
                            catering to a wide range of medical conditions with speed and reliability.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <img src="../../assets/Facilities/I.C.UwithLaminar.jpeg" alt="UwithLaminar" class="cardimg" />
                    <div class="content-side-by-side">
                        <img src="../../assets/Facilities/Facilities3.webp" alt="Facilities3" class="side-img" />
                        <p class="side-text">Our ICU with Laminar Airflow Systems is designed to deliver world-class
                            critical care while maintaining the highest standards of hygiene and infection control.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <img src="../../assets/Facilities/LabourRoom.jpeg" alt="LabourRoom" class="cardimg" />
                    <div class="content-side-by-side">
                        <img src="../../assets/Facilities/Facilities8.webp" alt="Facilities8" class="side-img" />
                        <p class="side-text">The Labour Room at Evergreen Wellness Hospital is designed to ensure a
                            safe, comfortable,
                            and supportive environment for expectant mothers and their newborns. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <img src="../../assets/Facilities/CArmMachine.jpeg" alt="CArmMachine" class="cardimg" />
                    <div class="content-side-by-side">
                        <img src="../../assets/Facilities/Facilities5.webp" alt="Facilities5" class="side-img" />
                        <p class="side-text">C-Arm Machine is a critical component of our imaging and surgical
                            capabilities,
                            high-resolution X-ray imaging during complex medical procedures.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <img src="../../assets/Facilities/Ultrasonography.jpeg" alt="Ultrasonography" class="cardimg" />
                    <div class="content-side-by-side">
                        <img src="../../assets/Facilities/Facilities2.webp" alt="Facilities2" class="side-img" />
                        <p class="side-text">The Ultrasound technology supports at Evergreen Wellness Hospital is a wide
                            range of medical evaluations,
                            ensuring accurate diagnoses and effective treatments.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <img src="../../assets/Facilities/EquippedLaboratory.jpeg" alt="EquippedLaboratory" class="cardimg" />
                    <div class="content-side-by-side">
                        <img src="../../assets/Facilities/Facilities4.webp" alt="Facilities4" class="side-img" />
                        <p class="side-text">The Laboratory at Evergreen Wellness Hospital is designed with advanced
                            technology and staffed by skilled professionals,
                            ensuring comprehensive analysis and reliable results. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <img src="../../assets/Facilities/OperationTheaters.jpeg" alt="OperationTheaters" class="cardimg" />
                    <div class="content-side-by-side">
                        <img src="../../assets/Facilities/Facilities7.webp" alt="Facilities7" class="side-img" />
                        <p class="side-text">OT with advanced quipment, skilled surgical teams, and stringent safety
                            protocols, our operation theaters
                            offer a safe and sterile environment for a wide range of surgeries.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <img src="../../assets/Facilities/LatestPhysiotherapy.jpeg" alt="LatestPhysiotherapy" class="cardimg" />
                    <div class="content-side-by-side">
                        <img src="../../assets/Facilities/Facilities6.webp" alt="Facilities8" class="side-img" />
                        <p class="side-text">Our Physiotherapists work closely with each patient to design personalized
                            treatment plans that address a wide variety
                            of musculoskeletal, neurological, and rehabilitation needs. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>