<div class="container mt-3 mb-3">
    <div class="row">
        <div class="col-md-12 text-center">
            <p style="font-size: 30px !important; color: #FFF; line-height: 1.5;"><b>General & Laparoscopic</b></p>
        </div>
        <div class="col-md-6 mt-3">
            <div class="card">
                <img src="../../assets/Department/General&Laparoscopic.jpeg" alt="General" />
            </div>
        </div>
        <div class="col-md-6 text-center mt-3">
            <p><span style="color: teal;"><b>General Surgery</b></span> </p>
            <p style="color: #FFF;">General surgery refers to a broad field of surgery that involves the treatment of
                various conditions affecting the abdomen, digestive tract, skin, soft tissues, and
                other areas of the body. General surgeons perform a wide range of procedures,
                such as appendectomies (removal of the appendix), hernia repairs, gallbladder
                removals, and more.</p>
            <p><span style="color: teal;"><b>Laparoscopic Surgery</b></span></p>
            <p style="color: #FFF;">Laparoscopic surgery, also known as minimally invasive surgery, is a modern surgical
                technique where operations are performed through small incisions. A camera (laparoscope)
                is inserted through one of the incisions to guide
                the surgeon, allowing them to view the surgical site on a screen. Laparoscopic surgery
                offers several benefits, including smaller scars, reduced risk of infection, shorter recovery
                times, and less postoperative pain compared to traditional open surgery.</p>
        </div>
    </div>
    <div class=" row mt-3">
        <div class="col-md-12 col12A">
            <p><span style="color: teal; font-size: 22px !important;"><b>Why Choose Evergreen Wellness Hospital for
                        General & Laparoscopic Surgery?</b></span></p>
            <p style="color: #FFF;"><span style="color: teal;"><b>Experienced Surgeons:</b></span> Our team consists of highly skilled and
                experienced general and laparoscopic surgeons who are experts in performing a wide range of procedures.
                With years of specialized training and a commitment to the latest surgical techniques, our surgeons
                ensure the highest level of care and precision.</p>
            <p style="color: #FFF;"><span style="color: teal;"><b>Advanced Technology:</b></span> We utilize state-of-the-art equipment and
                technology to perform both traditional and minimally invasive surgeries. Our advanced laparoscopic
                systems allow for more precise, efficient, and less invasive procedures, resulting in quicker recovery
                times and less postoperative pain.</p>
            <p style="color: #FFF;"><span style="color: teal;"><b>Personalized Care:</b></span> At Evergreen Wellness Hospital, every patient
                is treated with personalized attention. From your initial consultation to post-surgery care, we focus on
                understanding your unique needs, providing tailored treatment plans, and ensuring a comfortable
                experience every step of the way.</p>
            <p style="color: #FFF;"><span style="color: teal;"><b>Minimally Invasive Options:</b></span> We offer a variety of Laparoscopic
                Surgery options, which use small incisions and advanced instruments to reduce recovery time, minimize
                pain, and decrease the risk of complications. For many patients, laparoscopic surgery is the preferred
                option due to its numerous benefits over traditional open surgery.</p>
            <p style="color: #FFF;"><span style="color: teal;"><b>Focus on Safety and Comfort:</b></span> Patient safety is our top priority.
                We ensure that all procedures are conducted in a safe, controlled environment, with the most up-to-date
                protocols. Additionally, our hospital’s atmosphere is designed to make you feel at ease, with
                compassionate care provided by our friendly and knowledgeable staff.</p>
            <p style="color: #FFF;"><span style="color: teal;"><b>Comprehensive Follow-Up Care:</b></span> Our commitment to your recovery
                goes beyond the operating room. We offer comprehensive follow-up care to monitor your progress and
                ensure a smooth and healthy recovery. Whether it’s wound care or lifestyle adjustments, we’re here to
                support you throughout the healing process.</p>
            <p style="color: #FFF;"><span style="color: teal;"><b>High Success Rates</b></span> Thanks to our team’s expertise, advanced
                techniques, and patient-centric approach, we are proud to have high success rates in both General
                Surgery and Laparoscopic Surgery. Our focus on precision and patient care helps ensure optimal outcomes
                for all our patients.</p>
        </div>
    </div>
</div>