<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-md-12 mb-4">
            <div class="card text-center cardcolor">
                <div class="card-body cardbodyData">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="card cardData">
                                <div class="card-body">
                                    <i class="fas fa-user-md fa-3x text-primary"></i>
                                    <h5 class="card-title mt-3">Total Doctors</h5>
                                    <p class="card-text display-6">{{ totalDoctors }}+</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card cardData">
                                <div class="card-body">
                                    <i class="fas fa-smile-beam fa-3x text-success"></i>
                                    <h5 class="card-title mt-3">Total Happy Patients</h5>
                                    <p class="card-text display-6">{{ totalHappyPatients }}+</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card cardData">
                                <div class="card-body">
                                    <i class="fas fa-users fa-3x text-warning"></i>
                                    <h5 class="card-title mt-3">Total Staff</h5>
                                    <p class="card-text display-6">{{ totalStaff }}+</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card cardData">
                                <div class="card-body">
                                    <i class="fas fa-concierge-bell fa-3x text-danger"></i>
                                    <h5 class="card-title mt-3">Total Services</h5>
                                    <p class="card-text display-6">{{ totalServices }}+</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>