<div class="container mt-3 mb-3">
    <div class="row">
        <div class="col-md-12 text-center">
            <p style="font-size: 30px !important; color: #FFF; line-height: 1.5;"><b>Gynaecology & Obstetrics</b></p>
        </div>
    </div>
    <div class=" row mt-3">
        <div class="col-md-6 mt-3">
            <div class="card">
                <img src="../../assets/Department/Gynaecology&Obstetrics.jpeg" alt="Gynaecology" />
            </div>
        </div>
        <div class="col-md-6 text-center mt-3">
            <p><span style="color: teal;"><b>Gynaecology & Obstetrics</b></span> </p>
            <p style="color: #FFF;">Gynaecology focuses on the health of the female reproductive system, addressing conditions like menstrual
                irregularities, infertility, and hormonal disorders. Obstetrics deals with pregnancy care, childbirth,
                and postnatal support, ensuring the well-being of both mother and baby. Together, these specialties
                cover comprehensive women's health, from adolescence to menopause and beyond.
            </p>
        </div>
    </div>
    <div class=" row mt-3">
        <div class="col-md-12 col12">
            <p><span style="color: teal; font-size: 22px !important;"><b>Why Choose Evergreen Wellness Hospital for
                        Gynaecology & Obstetrics?</b></span></p>
            <p><span style="color: teal;"><b>Expert Specialists:</b></span> Experienced gynecologists and obstetricians
                providing exceptional care across all stages of a woman’s life.</p>
            <p><span style="color: teal;"><b>Advanced Maternity Care:</b></span> Comprehensive prenatal, delivery, and
                postnatal services for safe and healthy motherhood.</p>
            <p><span style="color: teal;"><b>State-of-the-Art Facilities:</b></span> Modern labor rooms, neonatal ICUs,
                and advanced diagnostic tools for accurate and efficient care.</p>
            <p><span style="color: teal;"><b>High-Risk Pregnancy Management:</b></span> Expertise in handling complex
                cases like gestational diabetes, preeclampsia, and multiple pregnancies.</p>
            <p><span style="color: teal;"><b>Wide Range of Services:</b></span> From routine gynecological exams to
                minimally invasive surgeries and infertility treatments.</p>
            <p><span style="color: teal;"><b>Patient-Centered Approach:</b></span> Dedicated focus on comfort, privacy,
                and personalized care for every patient.</p>
        </div>
    </div>
</div>