<div class="container mt-3 mb-3">
    <div class="row">
        <div class="col-md-12 text-center">
            <p style="font-size: 30px !important; color: #FFF; line-height: 1.5;"><b>ENT (Ear, Nose, and Throat) Surgery</b></p>
        </div>
    </div>
    <div class=" row mt-3">
        <div class="col-md-6 mt-3">
            <div class="card">
                <img src="../../assets/Department/DepartmentENT.jpeg" alt="DepartmentENT" />
            </div>
        </div>
        <div class="col-md-6 text-center mt-3">
            <p><span style="color: teal;"><b>ENT</b></span> </p>
            <p style="color: #FFF;">ENT surgery focuses on the diagnosis and treatment of conditions related to the ear,
                nose, and throat. ENT specialists, also known as Otolaryngologists, manage a wide range
                of issues including hearing loss, sinus problems, voice disorders, and conditions affecting
                the throat and airway. They also treat issues such as nasal blockages, ear infections, and tonsillitis.
            </p>
        </div>
    </div>
    <div class=" row mt-3">
        <div class="col-md-12 col12">
            <p><span style="color: teal; font-size: 22px !important;"><b>Common ENT Procedures:</b></span></p>
            <p><span style="color: teal;"><b>Tonsillectomy:</b></span> Removal of the tonsils to treat recurring infections.</p>
            <p><span style="color: teal;"><b>Sinus Surgery:</b></span> A procedure to clear blocked sinuses and treat chronic sinus infections.</p>
            <p><span style="color: teal;"><b>Ear Surgery:</b></span> Treatment of ear conditions like ear infections, hearing loss, and eardrum repair.</p>
            <p><span style="color: teal;"><b>Adenoidectomy:</b></span> Removal of the adenoids, often due to infection or breathing issues.</p>
            <p><span style="color: teal;"><b>Throat Surgery:</b></span> Treatment of conditions affecting the voice box, such as tumors or chronic conditions
                like sleep apnea.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col12">
            <p><span style="color: teal; font-size: 22px !important;"><b>Why Choose Evergreen Wellness Hospital for ENT Care?</b></span></p>
            <p><span style="color: teal;"><b>Expert ENT Surgeons:</b></span> Our experienced ENT specialists provide expert care for both common and complex ENT conditions.</p>
            <p><span style="color: teal;"><b>tate-of-the-Art Technolog:</b></span> We use the latest diagnostic tools and minimally invasive techniques to ensure precise treatments.</p>
            <p><span style="color: teal;"><b>Comprehensive Car:</b></span> From diagnosis to post-surgery recovery, we provide personalized care tailored to your needs.</p>
        </div>
    </div>
</div>