<div class="container mt-5 mb-3">
    <div class="row">
        <div class="col-md-12 text-center">
            <p style="font-size: 30px !important;"><b>Appointment Details</b></p>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-12">
            <div class="mat-elevation-z8">
                <div class="table-responsive table-container">
                    <table mat-table [dataSource]="dataSource"
                        class="table table-striped table-hover table-bordered border-dark">
                        <ng-container matColumnDef="Name">
                            <th mat-header-cell *matHeaderCellDef> Name </th>
                            <td mat-cell *matCellDef="let element"> {{ element.Name }} </td>
                        </ng-container>

                        <ng-container matColumnDef="DOB">
                            <th mat-header-cell *matHeaderCellDef> DOB </th>
                            <td mat-cell *matCellDef="let element"> {{ element.DOB | date : 'dd-MMM-yyyy' }} </td>
                        </ng-container>

                        <ng-container matColumnDef="Gender">
                            <th mat-header-cell *matHeaderCellDef> Gender </th>
                            <td mat-cell *matCellDef="let element"> {{ element.Gender }} </td>
                        </ng-container>

                        <ng-container matColumnDef="EmailID">
                            <th mat-header-cell *matHeaderCellDef> Email </th>
                            <td mat-cell *matCellDef="let element"> {{ element.EmailID }} </td>
                        </ng-container>

                        <ng-container matColumnDef="PhoneNumber">
                            <th mat-header-cell *matHeaderCellDef> Phone Number </th>
                            <td mat-cell *matCellDef="let element"> {{ element.PhoneNumber }} </td>
                        </ng-container>

                        <ng-container matColumnDef="AppointmentDate">
                            <th mat-header-cell *matHeaderCellDef> Appointment Date </th>
                            <td mat-cell *matCellDef="let element">
                                {{ element.AppointmentDate | date : 'dd-MMM-yyyy'}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="AppointmentTime">
                            <th mat-header-cell *matHeaderCellDef> Appointment Time </th>
                            <td mat-cell *matCellDef="let element"> {{ element.AppointmentTime }} </td>
                        </ng-container>

                        <ng-container matColumnDef="DepartmentName">
                            <th mat-header-cell *matHeaderCellDef> Department </th>
                            <td mat-cell *matCellDef="let element"> {{ element.DepartmentName }} </td>
                        </ng-container>

                        <ng-container matColumnDef="DoctorName">
                            <th mat-header-cell *matHeaderCellDef> Doctor Name </th>
                            <td mat-cell *matCellDef="let element"> {{ element.DoctorName }} </td>
                        </ng-container>

                        <ng-container matColumnDef="Status">
                            <th mat-header-cell *matHeaderCellDef> Status </th>
                            <td mat-cell *matCellDef="let element" [ngClass]="getStatusClass(element.Status)">
                                {{ element.Status }}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="Action">
                            <th mat-header-cell *matHeaderCellDef> Action </th>
                            <td mat-cell *matCellDef="let element">
                                <button *ngIf="element.Status === 'Completed'" class="btn btn-success">
                                    <i class="fa fa-check-square"></i>
                                </button>
                                <button *ngIf="element.Status === 'Pending' || element.Status === 'Booked'"
                                    class="btn btn-warning">
                                    <i class="fa fa-times-circle"></i>
                                </button>
                                <button *ngIf="element.Status === 'Canceled'" class="btn btn-danger">
                                    <i class="fa fa-times-circle"></i>
                                </button>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                    </table>
                </div>
                <mat-paginator #paginator [pageSizeOptions]="[4, 10, 25, 100]" aria-label="Select page of users"
                    [pageSize]="5" [pageIndex]="0"></mat-paginator>
            </div>
        </div>
    </div>
</div>