.table {
    width: 100%;
    border-collapse: separate;
}

.table-container {
    max-height: 332px;
    overflow-y: auto;
}

.table th,
.table td {
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.table th {
    background-color: teal;
    color: white;
    font-weight: bold;
    position: sticky;
    top: 0;
    z-index: 10;
}

.table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.status-pending {
    color: blue !important;
    font-weight: bold;
}

.status-booked {
    color: green !important;
    font-weight: bold;
}

.status-completed {
   color: green !important;
    font-weight: bold;
}

.status-canceled {
    color: red !important;
    font-weight: bold;
}

.Cancel-icon {
    color: #D14836;
}