<div class="container mt-3 mb-3">
    <div class="row">
        <div class="col-md-12 text-center">
            <p style="font-size: 30px !important; color: #FFF; line-height: 1.5;"><b>Physiotherapy Department</b></p>
        </div>
    </div>
    <div class=" row mt-3">
        <div class="col-md-6 mt-3">
            <div class="card">
                <img src="../../assets/Department/PhysiotherapyDepartment.jpeg" alt="PhysiotherapyDepartment" />
            </div>
        </div>
        <div class="col-md-6 text-center mt-3">
            <p><span style="color: teal;"><b>Physiotherapy Department</b></span> </p>
            <p style="color: #FFF;">Physiotherapy focuses on restoring and maintaining physical function and mobility through tailored
                therapeutic exercises, manual therapy, and advanced modalities. It is vital for rehabilitation after
                injuries, surgeries, or chronic conditions affecting the musculoskeletal, neurological, or
                cardiovascular systems. Physiotherapy also aids in pain management and enhances overall physical
                wellness.
            </p>
        </div>
    </div>
    <div class=" row mt-3">
        <div class="col-md-12 col12">
            <p><span style="color: teal; font-size: 22px !important;"><b>Why Choose Evergreen Wellness Hospital for
                        Physiotherapy?</b></span></p>
            <p><span style="color: teal;"><b>Expert Physiotherapists:</b></span> A team of highly trained and
                experienced professionals dedicated to personalized care.</p>
            <p><span style="color: teal;"><b>Comprehensive Rehabilitation Programs:</b></span> Individualized plans
                designed for post-surgical recovery, injury management, and chronic pain relief.</p>
            <p><span style="color: teal;"><b>Modern Equipment:</b></span> Advanced technology and techniques, including
                electrotherapy, ultrasound therapy, and hydrotherapy, for effective treatment.</p>
            <p><span style="color: teal;"><b>Holistic Approach:</b></span> Focus on both physical recovery and emotional
                well-being to ensure a balanced and sustained recovery.</p>
            <p><span style="color: teal;"><b>Collaborative Care:</b></span> Close coordination with other medical
                specialists for integrated treatment plans.</p>
            <p><span style="color: teal;"><b>Patient-Centric Environment:</b></span> Friendly and supportive care for
                patients of all ages and conditions.</p>
        </div>
    </div>
</div>