<div class="container mt-3 mb-3">
    <div class="row">
        <div class="col-md-12 text-center">
            <p style="font-size: 30px !important;"><b>Cosmetic & Reconstructive Surgery</b></p>
        </div>
    </div>
    <div class=" row mt-3">
        <div class="col-md-6 mt-3">
            <div class="card">
                <img src="../../assets/Department/Cosmetic&Reconstructive.jpeg" alt="Cosmetic" />
            </div>
        </div>
        <div class="col-md-6 text-center mt-3">
            <p><span style="color: red;"><b>Cosmetic & Reconstructive</b></span> </p>
            <p>Cosmetic and reconstructive surgery focuses on enhancing physical appearance and restoring functionality
                after trauma, illness, or congenital conditions. Cosmetic surgery aims to improve aesthetics and
                self-confidence through procedures like facelifts, liposuction, and rhinoplasty. Reconstructive surgery
                addresses medical conditions such as burns, deformities, and post-surgical recovery, including breast
                reconstruction or scar revision.
            </p>
        </div>
    </div>
    <div class=" row mt-3">
        <div class="col-md-12 col12">
            <p><span style="color: #000; font-size: 22px !important;"><b>Why Choose Evergreen Wellness Hospital for
                        Cosmetic & Reconstructive Surgery?</b></span></p>
            <p><span style="color: teal;"><b>Expert Surgeons:</b></span> A skilled team of cosmetic and reconstructive
                specialists with extensive experience.</p>
            <p><span style="color: teal;"><b>Comprehensive Services:</b></span> Offering a wide range of procedures,
                from minimally invasive treatments to complex reconstructions.</p>
            <p><span style="color: teal;"><b>Cutting-Edge Technology:</b></span> Advanced tools and techniques for
                precise and safe outcomes.</p>
            <p><span style="color: teal;"><b>Patient-Centered Care:</b></span> Customized treatment plans designed to
                meet individual aesthetic and medical needs.</p>
            <p><span style="color: teal;"><b>Holistic Approach:</b></span> Focus on both functional restoration and
                aesthetic improvement for complete well-being.</p>
            <p><span style="color: teal;"><b>Modern Facilities:</b></span> A comfortable and safe environment equipped
                with state-of-the-art infrastructure.</p>
        </div>
    </div>
</div>