<div class="container mt-3 mb-3">
    <div class="row">
        <div class="col-md-12 text-center">
            <p style="font-size: 30px !important;"><b>Ophthalmology</b></p>
        </div>
    </div>
    <div class=" row mt-3">
        <div class="col-md-6 mt-3">
            <div class="card">
                <img src="../../assets/Department/Ophthalmology.jpeg" alt="Ophthalmology" />
            </div>
        </div>
        <div class="col-md-6 text-center mt-3">
            <p><span style="color: red;"><b>Ophthalmology</b></span> </p>
            <p>Ophthalmology is the branch of medicine that focuses on the diagnosis, treatment, and prevention of eye
                and vision-related disorders. Ophthalmologists manage a wide range of conditions, including cataracts,
                glaucoma, retinal diseases, refractive errors, and eye injuries. Advanced techniques like laser
                surgeries and corrective procedures are integral to modern ophthalmology.
            </p>
        </div>
    </div>
    <div class=" row mt-3">
        <div class="col-md-12 col12">
            <p><span style="color: #000; font-size: 22px !important;"><b>Why Choose Evergreen Wellness Hospital for
                        Ophthalmology?</b></span></p>
            <p><span style="color: teal;"><b>Expert Ophthalmologists:</b></span> A highly skilled team specializing in
                managing simple to complex eye conditions.</p>
            <p><span style="color: teal;"><b>Advanced Technology:</b></span> Equipped with the latest diagnostic tools
                such as OCT, fundus cameras, and advanced surgical systems.</p>
            <p><span style="color: teal;"><b>Comprehensive Services:</b></span> Offering treatments for cataracts, LASIK
                surgery for vision correction, glaucoma management, and more.</p>
            <p><span style="color: teal;"><b>Pediatric Eye Care:</b></span> Specialized care for children's vision
                problems and eye disorders.</p>
            <p><span style="color: teal;"><b>Customized Care Plans:</b></span> Individualized treatment plans based on
                patient needs and conditions.</p>
            <p><span style="color: teal;"><b>Modern Surgical Techniques:</b></span> Expertise in minimally invasive and
                laser-based eye surgeries for faster recovery and improved outcomes.</p>
        </div>
    </div>
</div>