<div class="container">
    <h2 class="h2Back">Select Registration Type</h2>
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <img src="../../assets/MapLocation.jpeg" alt="Patient" class="card-image" />
                    <button class="btn" (click)="navigateAndClose('/PatientSignUp')">Patient Registration</button>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <img src="../../assets/MapLocation2.jpeg" alt="Doctor" class="card-image" />
                    <button class="btn" (click)="navigateAndClose('/DoctorSignUp')">Doctor Registration</button>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <img src="../../assets/MapLocation3.jpeg" alt="Admin" class="card-image" />
                    <button class="btn" (click)="navigateAndClose('/AdminSignUp')">Admin Registration</button>
                </div>
            </div>
        </div>
    </div>
</div>
