<div class="container mt-3 mb-3">
    <div class="row">
        <div class="col-md-12 text-center">
            <p style="font-size: 30px !important; color: #FFF; line-height: 1.5;"><b>Orthopedics & Trauma</b></p>
        </div>
    </div>
    <div class=" row mt-3">
        <div class="col-md-6 mt-3">
            <div class="card">
                <img src="../../assets/Department/Orthopedics&Trauma.jpeg" alt="Orthopedics" />
            </div>
        </div>
        <div class="col-md-6 text-center mt-3">
            <p><span style="color: teal;"><b>Orthopedics & Trauma</b></span> </p>
            <p style="color: #FFF;">Orthopedics focuses on the diagnosis, treatment, and prevention of conditions affecting the bones,
                joints, muscles, ligaments, and tendons. Trauma care in orthopedics involves the management of
                fractures, dislocations, and injuries caused by accidents or other emergencies. Specialists in
                orthopedics and trauma help patients regain mobility, relieve pain, and restore functionality through
                advanced treatments, surgical interventions, and rehabilitation.
            </p>
        </div>
    </div>
    <div class=" row mt-3">
        <div class="col-md-12 col12">
            <p><span style="color: teal; font-size: 22px !important;"><b>Why Choose Evergreen Wellness Hospital for
                        Orthopedics & Trauma?</b></span></p>
            <p><span style="color: teal;"><b>Comprehensive Care:</b></span> From minor fractures to complex joint
                replacements, the hospital provides tailored treatments for all orthopedic and trauma cases.</p>
            <p><span style="color: teal;"><b>Experienced Team:</b></span> Highly skilled orthopedic surgeons and trauma
                specialists offer evidence-based care.</p>
            <p><span style="color: teal;"><b>Cutting-Edge Technology:</b></span> Equipped with advanced imaging,
                robotic-assisted surgeries, and minimally invasive techniques to ensure precise outcomes.</p>
            <p><span style="color: teal;"><b>Dedicated Trauma Unit:</b></span> Rapid response and state-of-the-art
                facilities for handling emergency trauma cases effectively.</p>
            <p><span style="color: teal;"><b>Holistic Rehabilitation:</b></span> On-site physiotherapy and post-surgical
                rehabilitation programs to aid in complete recovery.</p>
            <p><span style="color: teal;"><b>Patient-Centered Approach:</b></span> Focused on delivering compassionate
                care and personalized treatment plans.</p>
        </div>
    </div>
</div>