<div class="container mt-3 mb-3">
    <div class="row">
        <div class="col-md-12 text-center">
            <p style="font-size: 30px !important;"><b>Psychiatrist</b></p>
        </div>
    </div>
    <div class=" row mt-3">
        <div class="col-md-6 mt-3">
            <div class="card">
                <img src="../../assets/Department/Psychiatry.jpeg" alt="Psychiatry" />
            </div>
        </div>
        <div class="col-md-6 text-center mt-3">
            <p><span style="color: red;"><b>Psychiatrist</b></span> </p>
            <p>Psychiatry is a medical specialty dedicated to diagnosing, treating, and preventing mental, emotional,
                and behavioral disorders. Psychiatrists are trained to understand the complex relationship between the
                mind and body and provide holistic care for conditions like anxiety, depression, bipolar disorder,
                schizophrenia, and more. Treatment methods include therapy, counseling, and medication management.
            </p>
        </div>
    </div>
    <div class=" row mt-3">
        <div class="col-md-12 col12">
            <p><span style="color: #000; font-size: 22px !important;"><b>Why Choose Evergreen Wellness Hospital for
                        Psychiatrist?</b></span></p>
            <p><span style="color: teal;"><b>Expert Psychiatrists:</b></span> Highly experienced professionals offering
                compassionate and personalized mental health care.</p>
            <p><span style="color: teal;"><b>Comprehensive Treatments:</b></span> Addressing a wide range of mental
                health issues with evidence-based therapies and medication plans.</p>
            <p><span style="color: teal;"><b>Holistic Approach:</b></span> Focus on the mind-body connection to ensure
                overall well-being.</p>
            <p><span style="color: teal;"><b>Confidential Care:</b></span> Maintaining a safe and private environment
                for patients to seek help.</p>
            <p><span style="color: teal;"><b>Support Services:</b></span> Counseling, psychotherapy, and group therapy
                sessions to support recovery and resilience.</p>
            <p><span style="color: teal;"><b>State-of-the-Art Facilities:</b></span> Modern therapeutic settings
                designed for comfort and healing.</p>
        </div>
    </div>
</div>