<div class="container mt-5 mb-3">
    <div class="row">
        <div class="col-md-12 text-center">
            <p style="font-size: 30px !important;"><b>OPD TIMINGS</b></p>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-4">
            <div class="headingcolor">
                <p><b>Department</b></p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="headingcolor">
                <p><b>Doctors</b></p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="headingcolor">
                <p><b>Timings</b></p>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-4">
            <div class="Department1">
                <p class="mainDivData">General & Laparoscopic Surgery</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="Department1">
                <p class="mainDivData">Dr. Aisha Rahman</p>
                <p class="subDivData">MBBS, MS</p>
                <p class="mainDivData">Dr. Rajesh Sharma</p>
                <p class="subDivData">MBBS, MS</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="Department1">
                <p class="mainDivData">Monday - Saturday</p>
                <p class="subDivData">08:30 am - 10:00 am</p>
                <p class="subDivData">04:00 pm - 06:00 pm</p>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-4">
            <div class="Department2">
                <p class="mainDivData">ENT Department</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="Department2">
                <p class="mainDivData">Dr. Sneha Patel</p>
                <p class="subDivData">MBBS, MD</p>
                <p class="mainDivData">Dr. Abhinav Kapoor</p>
                <p class="subDivData">MBBS, MS</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="Department2">
                <p class="mainDivData">Monday - Saturday</p>
                <p class="subDivData">08:30 am - 10:00 am</p>
                <p class="subDivData">04:00 pm - 06:00 pm</p>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-4">
            <div class="Department3">
                <p class="mainDivData">Neurosurgery Department</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="Department3">
                <p class="mainDivData">Dr. Priya Mishra</p>
                <p class="subDivData">MBBS, MS</p>
                <p class="mainDivData">Dr. Amit Agarwal</p>
                <p class="subDivData">MBBS, MCh</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="Department3">
                <p class="mainDivData">Monday & Wednesday</p>
                <p class="subDivData">08:30 am - 10:00 am</p>
                <p class="subDivData">04:00 pm - 06:00 pm</p>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-4">
            <div class="Department4">
                <p class="mainDivData">Orthopedics & Trauma Department</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="Department4">
                <p class="mainDivData">Dr. Manish Verma</p>
                <p class="subDivData">MBBS, MS</p>
                <p class="mainDivData">Dr. Rekha Gupta</p>
                <p class="subDivData">MBBS, MS</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="Department4">
                <p class="mainDivData">Monday - Saturday</p>
                <p class="subDivData">08:30 am - 10:00 am</p>
                <p class="subDivData">04:00 pm - 06:00 pm</p>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-4">
            <div class="Department5">
                <p class="mainDivData">Skin & Cosmetology Department</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="Department5">
                <p class="mainDivData">Dr. Rina Sharma</p>
                <p class="subDivData">MBBS, MD</p>
                <p class="mainDivData">Dr. Vikram Singh</p>
                <p class="subDivData">MBBS, MD</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="Department5">
                <p class="mainDivData">Monday - Saturday</p>
                <p class="subDivData">08:30 am - 10:00 am</p>
                <p class="subDivData">04:00 pm - 06:00 pm</p>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-4">
            <div class="Department6">
                <p class="mainDivData">Urology Department</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="Department6">
                <p class="mainDivData">Dr. Harish Patel</p>
                <p class="subDivData">MBBS, MS</p>
                <p class="mainDivData">Dr. Neelam Agarwal</p>
                <p class="subDivData">MBBS, MD</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="Department6">
                <p class="mainDivData">Monday - Saturday</p>
                <p class="subDivData">08:30 am - 10:00 am</p>
                <p class="subDivData">04:00 pm - 06:00 pm</p>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-4">
            <div class="Department7">
                <p class="mainDivData">Gastroenterology Department</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="Department7">
                <p class="mainDivData">Dr. Rajeev Kumar</p>
                <p class="subDivData">MBBS, MD</p>
                <p class="mainDivData">Dr. Simran Kaur</p>
                <p class="subDivData">MBBS, MD</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="Department7">
                <p class="mainDivData">Monday - Saturday</p>
                <p class="subDivData">08:30 am - 10:00 am</p>
                <p class="subDivData">04:00 pm - 06:00 pm</p>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-4">
            <div class="Department8">
                <p class="mainDivData">Medicine & Cardiology Department</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="Department8">
                <p class="mainDivData">Dr. Arun Mehta</p>
                <p class="subDivData">MBBS, MD</p>
                <p class="mainDivData">Dr. Anita Sharma</p>
                <p class="subDivData">MBBS, MD</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="Department8">
                <p class="mainDivData">Monday - Saturday</p>
                <p class="subDivData">08:30 am - 10:00 am</p>
                <p class="subDivData">04:00 pm - 06:00 pm</p>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-4">
            <div class="Department9">
                <p class="mainDivData">Physiotherapy Department</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="Department9">
                <p class="mainDivData">Dr. Vikash Kumar</p>
                <p class="subDivData">BPT</p>
                <p class="mainDivData">Dr. Richa Singh</p>
                <p class="subDivData">BPT, MPT</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="Department9">
                <p class="mainDivData">Monday</p>
                <p class="subDivData">08:30 am - 10:00 am</p>
                <p class="mainDivData">Friday</p>
                <p class="subDivData">04:00 pm - 06:00 pm</p>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-4">
            <div class="Department10">
                <p class="mainDivData">Gynaecology & Obstetrics Department</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="Department10">
                <p class="mainDivData">Dr. Kavita Sharma</p>
                <p class="subDivData">MBBS, MD</p>
                <p class="mainDivData">Dr. Anil Kumar</p>
                <p class="subDivData">MBBS, MS</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="Department10">
                <p class="mainDivData">Monday - Saturday</p>
                <p class="subDivData">08:30 am - 10:00 am</p>
                <p class="subDivData">04:00 pm - 06:00 pm</p>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-4">
            <div class="Department11">
                <p class="mainDivData">Cosmetic & Reconstructive Department</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="Department11">
                <p class="mainDivData">Dr. Sunita Jain</p>
                <p class="subDivData">MBBS, MD</p>
                <p class="mainDivData">Dr. Akash Gupta</p>
                <p class="subDivData">MBBS, MS</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="Department11">
                <p class="mainDivData">Monday - Saturday</p>
                <p class="subDivData">08:30 am - 10:00 am</p>
                <p class="subDivData">04:00 pm - 06:00 pm</p>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-4">
            <div class="Department12">
                <p class="mainDivData">Ophthalmology Department</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="Department12">
                <p class="mainDivData">Dr. Sheetal Arora</p>
                <p class="subDivData">MBBS, MS</p>
                <p class="mainDivData">Dr. Raghav Agarwal</p>
                <p class="subDivData">MBBS, MS</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="Department12">
                <p class="mainDivData">Monday - Saturday</p>
                <p class="subDivData">08:30 am - 10:00 am</p>
                <p class="subDivData">04:00 pm - 06:00 pm</p>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-4">
            <div class="Department13">
                <p class="mainDivData">Diagnostic Department</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="Department13">
                <p class="mainDivData">Dr. Vikram Soni</p>
                <p class="subDivData">MBBS, MD</p>
                <p class="mainDivData">Dr. Neha Sharma</p>
                <p class="subDivData">MBBS, MD</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="Department13">
                <p class="mainDivData">Monday - Saturday</p>
                <p class="subDivData">08:30 am - 10:00 am</p>
                <p class="subDivData">04:00 pm - 06:00 pm</p>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-4">
            <div class="Department14">
                <p class="mainDivData">Psychiatrist Department</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="Department14">
                <p class="mainDivData">Dr. Simran Verma</p>
                <p class="subDivData">MBBS, MD</p>
                <p class="mainDivData">Dr. Rajeev Bhatt</p>
                <p class="subDivData">MBBS, MD</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="Department14">
                <p class="mainDivData">Monday</p>
                <p class="subDivData">08:30 am - 10:00 am</p>
                <p class="mainDivData">Thursday</p>
                <p class="subDivData">04:00 pm - 06:00 pm</p>
            </div>
        </div>
    </div>
</div>