<div class="container mt-3 mb-3">
    <div class="row">
        <div class="col-md-12 text-center">
            <p style="font-size: 30px !important;"><b>Urology Department</b></p>
        </div>
    </div>
    <div class=" row mt-3">
        <div class="col-md-6 mt-3">
            <div class="card">
                <img src="../../assets/Department/UrologyDepartment.jpeg" alt="UrologyDepartment" />
            </div>
        </div>
        <div class="col-md-6 text-center mt-3">
            <p><span style="color: red;"><b>Urology Department</b></span> </p>
            <p>Urology is the branch of medicine focused on the diagnosis, treatment, and management of conditions
                affecting the urinary tract in both men and women, as well as the male reproductive system. It
                encompasses a wide range of issues, including urinary infections, kidney stones, bladder problems,
                prostate disorders, and male infertility. Advanced procedures like minimally invasive surgeries and
                endoscopic treatments are commonly used in urology.
            </p>
        </div>
    </div>
    <div class=" row mt-3">
        <div class="col-md-12 col12">
            <p><span style="color: #000; font-size: 22px !important;"><b>Why Choose Evergreen Wellness Hospital for
                        Urology?</b></span></p>
            <p><span style="color: teal;"><b>Experienced Urologists:</b></span> A team of skilled urology specialists
                with expertise in managing complex cases.</p>
            <p><span style="color: teal;"><b>Advanced Diagnostic Tools:</b></span> Cutting-edge technology for precise
                diagnosis, including ultrasound, cystoscopy, and urodynamic studies.</p>
            <p><span style="color: teal;"><b>Comprehensive Care:</b></span> Treatments for a wide range of urological
                conditions, from common issues like urinary tract infections to advanced procedures for kidney stones
                and prostate disorders.</p>
            <p><span style="color: teal;"><b>Minimally Invasive Techniques:</b></span> Expertise in laparoscopic and
                robotic surgeries ensures quicker recovery and minimal discomfort.</p>
            <p><span style="color: teal;"><b>Patient-Centered Approach:</b></span> Personalized care plans tailored to
                individual patient needs.</p>
            <p><span style="color: teal;"><b>State-of-the-Art Facilities:</b></span> Equipped with modern infrastructure
                for safe and efficient treatment.</p>
        </div>
    </div>
</div>