<!-- Slider Start -->

<div class="carousel">
  <div class="carousel-slide active">
    <img src="../../assets/Slider/Slider1.png" alt="Image 1" />
    <div class="mySlider text-overlay">
      <p style="color: teal !important; padding: 30px 20px 20px 20px;">
        <span style="color: red;">Welcome</span><span style="color: rgb(253, 253, 10);"> to</span>
        Evergreen Wellness Hospital
      </p>
    </div>
  </div>
  <div class="carousel-slide">
    <img src="../../assets/Slider/Slider2.png" alt="Image 2" />
    <div class="mySlider text-overlay">
      <p style="color: teal !important; padding: 30px 20px 20px 20px;">
        Your Health, Our Priority
      </p>
    </div>
  </div>
  <div class="carousel-slide">
    <img src="../../assets/Slider/Slider3.png" alt="Image 3" />
    <div class="mySlider text-overlay">
      <p style="color: teal !important; padding: 30px 20px 20px 20px;">
        Committed to Care
      </p>
    </div>
  </div>
  <div class="carousel-slide">
    <img src="../../assets/Slider/Slider4.png" alt="Image 4" />
    <div class="mySlider text-overlay">
      <p style="color: teal !important; padding: 30px 20px 20px 20px;">
        Advanced Medical Solutions
      </p>
    </div>
  </div>
  <button class="prev" (click)="prevSlide()">&#10094;</button>
  <button class="next" (click)="nextSlide()">&#10095;</button>
</div>

<!-- Slider END -->

<!-- Department Start -->

<div class="container mt-5">
  <div class="row">
    <div class="col-md-12 text-center">
      <p style="font-size: 30px !important;"><b>OUR DEPARTMENT</b></p>
    </div>
    <div class="col-md-12 mt-3">
      <p style="font-size: 17px;">Our department is dedicated to providing exceptional medical care with a
        patient-centered approach.
        Equipped with advanced technology and staffed by experienced professionals.
        Our team of doctors, nurses, and support staff works collaboratively to ensure comprehensive and personalized
        care, whether it's diagnosis, treatment, or preventive measures.</p>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <img src="../../assets/Department/General.jpg" alt="Image General" />
          <p style="font-size: 24px;" class="mt-3">General & Laparoscopic...</p>
          <p>General surgery refers to a broad field of surgery that involves the treatment of
            various conditions...</p>
          <div class="text-end">
            <div class="btn btn-warning btncolr" routerLink="/Home/GeneralLaparoscopic">More...</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <img src="../../assets/Department/ENT.jpg" alt="Image ENT" />
          <p style="font-size: 24px;" class="mt-3">ENT</p>
          <p>ENT surgery focuses on the diagnosis and treatment of conditions related to...</p>
          <div class="text-end">
            <div class="btn btn-warning btncolr" routerLink="/Home/ENT">More...</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <img src="../../assets/Department/Neuro.jpg" alt="Image Neuro" />
          <p style="font-size: 24px;" class="mt-3">Neuro Surgery</p>
          <p>Neurosurgery is a specialized medical field dedicated to diagnosing and surgically treating...</p>
          <div class="text-end">
            <div class="btn btn-warning btncolr" routerLink="/Home/Neurosurgery">More...</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <img src="../../assets/Department/Orthopedics.jpg" alt="Image Orthopedics" />
          <p style="font-size: 24px;" class="mt-3">Orthopedics & Trauma</p>
          <p>Orthopedics focuses on the diagnosis, treatment, and prevention...</p>
          <div class="text-end">
            <div class="btn btn-warning btncolr" routerLink="/Home/Orthopedics">More...</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <img src="../../assets/Department/Skin.jpg" alt="Image Skin" />
          <p style="font-size: 24px;" class="mt-3">Skin & Cosmetology</p>
          <p>Skin and cosmetology focus on diagnosing and treating skin conditions, enhancing appearance...</p>
          <div class="text-end">
            <div class="btn btn-warning btncolr" routerLink="/Home/Skin&Cosmetology">More...</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <img src="../../assets/Department/Urology.jpg" alt="Image Urology" />
          <p style="font-size: 24px;" class="mt-3">Urology</p>
          <p>Urology is the branch of medicine focused on the diagnosis, treatment, and management of...</p>
          <div class="text-end">
            <div class="btn btn-warning btncolr" routerLink="/Home/Urology">More...</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <img src="../../assets/Department/Gastroenterology.jpg" alt="Image Gastroenterology" />
          <p style="font-size: 24px;" class="mt-3">Gastroenterology</p>
          <p>Gastroenterology is the medical specialty focused on the diagnosis and treatment of...</p>
          <div class="text-end">
            <div class="btn btn-warning btncolr" routerLink="/Home/Gastroenterology">More...</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <img src="../../assets/Department/Medicine.jpg" alt="Image Medicine" />
          <p style="font-size: 24px;" class="mt-3">Medicine & Cardiology</p>
          <p>Medicine and Cardiology department focuses on the prevention, diagnosis, and...</p>
          <div class="text-end">
            <div class="btn btn-warning btncolr" routerLink="/Home/Medicine&Cardiology">More...</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <img src="../../assets/Department/Physiotherapy.jpg" alt="Image Physiotherapy" />
          <p style="font-size: 24px;" class="mt-3">Physiotherapy</p>
          <p>Physiotherapy focuses on restoring and maintaining physical function and...</p>
          <div class="text-end">
            <div class="btn btn-warning btncolr" routerLink="/Home/Physiotherapy">More...</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <img src="../../assets/Department/Gynaecology.jpg" alt="Image Gynaecology" />
          <p style="font-size: 24px;" class="mt-3">Gynaecology & Obstetrics</p>
          <p>Gynaecology focuses on the health of the female reproductive system...</p>
          <div class="text-end">
            <div class="btn btn-warning btncolr" routerLink="/Home/Gynaecology&Obstetrics">More...</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <img src="../../assets/Department/Cosmetic.jpg" alt="Image Cosmetic" />
          <p style="font-size: 24px;" class="mt-3">Cosmetic & Reconstruc...</p>
          <p>Cosmetic and reconstructive surgery focuses on enhancing physical appearance and...</p>
          <div class="text-end">
            <div class="btn btn-warning btncolr" routerLink="/Home/Cosmetic&Reconstruc">More...</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <img src="../../assets/Department/Ophthalmology.jpg" alt="Image Ophthalmology" />
          <p style="font-size: 24px;" class="mt-3">Ophthalmology</p>
          <p>Ophthalmology is the branch of medicine that focuses on the diagnosis, treatment...</p>
          <div class="text-end">
            <div class="btn btn-warning btncolr" routerLink="/Home/Ophthalmology">More...</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <img src="../../assets/Department/Diagnostic.jpg" alt="Image Diagnostic" />
          <p style="font-size: 24px;" class="mt-3">Diagnostic</p>
          <p>Diagnostics involves a comprehensive range of tests and procedures designed...</p>
          <div class="text-end">
            <div class="btn btn-warning btncolr" routerLink="/Home/Diagnostic">More...</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <img src="../../assets/Department/Psychiatrist.jpg" alt="Image Psychiatrist" />
          <p style="font-size: 24px;" class="mt-3">Psychiatrist</p>
          <p>Psychiatry is a medical specialty dedicated to diagnosing, treating...</p>
          <div class="text-end">
            <div class="btn btn-warning btncolr" routerLink="/Home/Psychiatrist">More...</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>

<!-- Department END -->


<app-opdtimingdashboard></app-opdtimingdashboard>
<app-dashboard-counts></app-dashboard-counts>
<app-ouridentity></app-ouridentity>
<app-ourdoctors></app-ourdoctors>
<app-whatourclientsay></app-whatourclientsay>