<div class="container mt-3 mb-3">
    <div class="row">
        <div class="col-md-12 text-center">
            <p style="font-size: 30px !important; color: #FFF;"><b>Diagnostic Services</b></p>
        </div>
    </div>
    <div class=" row mt-3">
        <div class="col-md-6 mt-3">
            <div class="card">
                <img src="../../assets/Department/DiagnosticDepartment.jpeg" alt="DiagnosticDepartment" />
            </div>
        </div>
        <div class="col-md-6 text-center mt-3">
            <p><span style="color: teal;"><b>Diagnostic</b></span> </p>
            <p style="color: #FFF;">Diagnostics involves a comprehensive range of tests and procedures designed to
                identify and evaluate
                medical conditions accurately. From routine blood tests and imaging scans to advanced pathology and
                radiology, diagnostic services play a vital role in the early detection, treatment, and management of
                diseases.
            </p>
        </div>
    </div>
    <div class=" row mt-3">
        <div class="col-md-12 col12">
            <p><span style="color: teal; font-size: 22px !important;"><b>Why Choose Evergreen Wellness Hospital for
                        Diagnostic Services?</b></span></p>
            <p><span style="color: teal;"><b>Comprehensive Testing:</b></span> Offers a wide array of diagnostic tests,
                including laboratory services, imaging (X-rays, CT, MRI, ultrasound), and specialized screenings.</p>
            <p><span style="color: teal;"><b>Modern Technology:</b></span> Equipped with advanced diagnostic tools and
                machines to ensure accurate and timely results.</p>
            <p><span style="color: teal;"><b>Experienced Professionals:</b></span> A skilled team of pathologists,
                radiologists, and technicians committed to delivering precise diagnoses.</p>
            <p><span style="color: teal;"><b>Integrated Approach:</b></span> Seamless coordination between diagnostic
                and treatment departments for efficient care.</p>
            <p><span style="color: teal;"><b>Patient-Centric Services:</b></span> Fast, reliable testing with minimal
                wait times in a comfortable and hygienic environment.</p>
            <p><span style="color: teal;"><b>Preventive Health Packages:</b></span> Tailored diagnostic packages for
                routine check-ups and early disease detection.</p>
        </div>
    </div>
</div>