<div class="container mt-5 mb-3">
    <div class="row">
        <div class="col-md-12 text-center">
            <p style="font-size: 30px !important;"><b>ABOUT US</b></p>
        </div>
        <div class="col-md-6 mt-3">
            <div class="card">
                <img src="../../assets/Ouridentity.jpeg" alt="Ouridentity" />
            </div>
        </div>
        <div class="col-md-6 text-center mt-3">
            <p><span style="color: red;"><b>Our Identity</b></span> </p>
            <p>Evergreen Wellness Hospital is more than just a medical facility;
                it embodies a commitment to providing comprehensive and compassionate healthcare.
                Rooted in innovation and excellence, the hospital prides itself on delivering personalized care,
                cutting-edge medical treatments, and a holistic approach to wellness.</p>
            <p><span style="color: teal;"><b>OUR Vision</b></span></p>
            <p>To be a leading healthcare provider recognized globally for exceptional patient care,
                innovative treatments, and unwavering community support.</p>
            <p>Evergreen Wellness Hospital stands as a symbol of health, hope, and humanity.
                Together, we grow healthier and stronger every day.</p>
        </div>
    </div>
</div>