<div class="container mt-3 mb-3">
    <div class="row">
        <div class="col-md-12 text-center">
            <p style="font-size: 30px !important;"><b>Gastroenterology Department</b></p>
        </div>
    </div>
    <div class=" row mt-3">
        <div class="col-md-6 mt-3">
            <div class="card">
                <img src="../../assets/Department/GastroenterologyDepartment.jpeg" alt="GastroenterologyDepartment" />
            </div>
        </div>
        <div class="col-md-6 text-center mt-3">
            <p><span style="color: red;"><b>Gastroenterology Department</b></span> </p>
            <p>Gastroenterology is the medical specialty focused on the diagnosis and treatment of conditions related to
                the digestive system, including the esophagus, stomach, intestines, liver, pancreas, and gallbladder. It
                addresses issues such as acid reflux, irritable bowel syndrome (IBS), liver diseases, and
                gastrointestinal cancers. Advanced endoscopic procedures are often used for both diagnosis and
                treatment.
            </p>
        </div>
    </div>
    <div class=" row mt-3">
        <div class="col-md-12 col12">
            <p><span style="color: #000; font-size: 22px !important;"><b>Why Choose Evergreen Wellness Hospital for
                        Gastroenterology?</b></span></p>
            <p><span style="color: teal;"><b>Expert Gastroenterologists:</b></span> A team of highly experienced
                specialists skilled in diagnosing and managing complex digestive disorders.</p>
            <p><span style="color: teal;"><b>Advanced Diagnostics:</b></span> Cutting-edge tools like endoscopy,
                colonoscopy, and liver function tests for accurate evaluation.</p>
            <p><span style="color: teal;"><b>Comprehensive Care:</b></span> Management of a wide range of
                gastrointestinal conditions, from common digestive problems to complex liver and pancreatic diseases.
            </p>
            <p><span style="color: teal;"><b>Minimally Invasive Procedures:</b></span> Expertise in laparoscopic and
                robotic surgeries ensures quicker recovery and minimal discomfort.</p>
            <p><span style="color: teal;"><b>Integrated Care Approach:</b></span> Collaboration with dietitians and
                other specialists to provide holistic treatment plans.</p>
            <p><span style="color: teal;"><b>Modern Facilities:</b></span> State-of-the-art technology and
                infrastructure designed for patient comfort and superior outcomes.</p>
        </div>
    </div>
</div>