<div class="container mt-3 mb-3">
    <div class="row">
        <div class="col-md-12 text-center">
            <p style="font-size: 30px !important; color: #FFF;"><b>Skin & Cosmetology</b></p>
        </div>
    </div>
    <div class=" row mt-3">
        <div class="col-md-6 mt-3">
            <div class="card">
                <img src="../../assets/Department/Skin&Cosmetology.jpeg" alt="Skin" />
            </div>
        </div>
        <div class="col-md-6 text-center mt-3">
            <p><span style="color: teal;"><b>Skin & Cosmetology</b></span> </p>
            <p style="color: #FFF;">Skin and cosmetology focus on diagnosing and treating skin conditions, enhancing appearance, and
                promoting overall skin health. This specialty covers a range of services, from managing acne, eczema,
                and pigmentation to advanced cosmetic procedures like chemical peels, laser treatments, and anti-aging
                therapies. With the integration of dermatology and cosmetology, it ensures both medical and aesthetic
                skin care.
            </p>
        </div>
    </div>
    <div class=" row mt-3">
        <div class="col-md-12 col12">
            <p><span style="color: teal; font-size: 22px !important;"><b>Why Choose Evergreen Wellness Hospital for
                        Skin & Cosmetology?</b></span></p>
            <p><span style="color: teal;"><b>Expert Dermatologists:</b></span> Highly qualified dermatologists provide
                accurate diagnosis and effective treatment for various skin conditions.</p>
            <p><span style="color: teal;"><b>Advanced Cosmetology Solutions:</b></span> The hospital offers
                state-of-the-art cosmetic treatments, including laser therapy, microdermabrasion, and PRP therapy for
                skin rejuvenation.</p>
            <p><span style="color: teal;"><b>Customized Care:</b></span> Personalized skin care plans tailored to
                individual needs and goals.</p>
            <p><span style="color: teal;"><b>Modern Technology:</b></span> Equipped with cutting-edge tools for
                non-invasive and minimally invasive cosmetic procedures.</p>
            <p><span style="color: teal;"><b>Comprehensive Services:</b></span> A holistic approach combining medical
                dermatology and cosmetology for total skin wellness.</p>
            <p><span style="color: teal;"><b>Focus on Safety:</b></span> All treatments are performed under strict
                safety and hygiene standards.</p>
        </div>
    </div>
</div>